:root {
	--header-h: 64px;
	--footer-h: 56px;
}

.layout {
	height: 100vh;
	display: flex;
	width: 100%;
	max-width: 1240px;
	flex-direction: column;
	padding: 0 10px;
	margin: 0 auto;

	
  justify-content: center;
  padding: 3rem 1rem 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-h);
	z-index: 1000;
}

.main {
	flex: 1;
	margin-top: var(--header-h);
	padding-bottom: var(--footer-h);

	overflow-y: auto;
}

footer {
	height: var(--footer-h);
	flex-shrink: 0;
}