:root {
  --primary: #4f46e5;
  --primary-dark: #4338ca;
  --success: #10b981;
  --error: #ef4444;
  --warning: #f59e0b;

  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-input: #43577f;

  --text-primary: #111827;
  --text-secondary: #6b7280;
  --text-error: #dc2626;

  --border: #d1d5db;
  --border-focus: #4f46e5;
  --border-error: #ef4444;
}
