.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	gap: 20px;
	padding: 10px 0;
	min-height: 50px;
}
.logo {
	font-weight: bold;
	font-style: italic;
}
.navigation {
  
}
